---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import Info from '../components/info.astro';
import Stat from '../components/stat.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Alto Troyano">
	<main>
		<NavBar/>
		<Hero/>
		<Info/>
		<Stat/>
		<Footer/>
	</main>
</Layout>