<div class="p-20 text-center ">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit illum architecto aliquam expedita, dolorem, velit placeat laboriosam, distinctio praesentium nemo. Inventore asperiores incidunt harum dignissimos quisquam dolorum illo distinctio.
    </p>
</div>
<div class="p-20 bg-black text-white text-center">
    <h3 class="text-5xl font-bold mb-5">WE ARE HERE TO HELP</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit illum architecto aliquam expedita, dolorem, velit placeat laboriosam, distinctio praesentium nemo. Inventore asperiores incidunt harum dignissimos quisquam dolorum illo distinctio.
    </p>
    <button class="btn btn-primary mt-10">Learn more</button>
</div>
<div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2">
    <section class="flex flex-col p-10 text-center items-center">
        <h3 class="text-5xl font-bold">LES'T BUILD</h3>
        <h5 class="text-2xl font-bold">SOMETHING GREAT</h5>
        <h3 class="text-5xl font-bold">TOGETHER</h3>
        <br>
        <h5 class="text-xl ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas dolore fugit rem voluptatem quae necessitatibus reprehenderit</h5>
        <button class="btn btn-neutral mt-10 w-fit">Submit query</button>
    </section>
    <img src="/images/businessman.jpg" class="object-cover h-full" alt="business man"/>
</div>
<div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2">
<section  class="flex flex-col bg-black text-white p-10 text-center">
        <h3 class="text-5xl font-bold">WE ARE</h3>
        <br>
        <h5 class="text-xl font-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas dolore fugit rem voluptatem quae necessitatibus reprehenderit</h5>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit illum architecto aliquam expedita, dolorem, velit placeat laboriosam, distinctio praesentium nemo. Inventore asperiores incidunt harum dignissimos quisquam dolorum illo distinctio.</p>
    
</section>
<section class="flex flex-col p-10 justify-center">
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit illum architecto aliquam expedita, dolorem, velit placeat laboriosam, distinctio praesentium nemo. Inventore asperiores incidunt harum dignissimos quisquam dolorum illo distinctio.</p>
    <br>
    <h3 class="text-5xl font-bold text-end">THIS IS</h3>
    <h3 class="text-5xl font-bold text-end">WHAT WE DO</h3>

</section>
</div>
<div class="text-center p-8">
    <button class="btn btn-neutral w-36">Contact</button>
</div>