<div class="bg-black py-16 sm:py-20">
  <h3 class="text-white text-center pb-10 text-5xl">THE PROFF IS IN THE PUDDING!</h3>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-4">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-white">Industries</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">5+</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-white">Staff certifications</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">15+</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-white">Countries</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">30+</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-white">Clients</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">30+</dd>
      </div>
    </dl>
  </div>
</div>
